
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}

body {
  background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("../src/assets/kaido.png");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 70px;
}


@keyframes gradient-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

   background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);

  height: 65px;
  padding: 0 20px;


  height: 65px;        
  padding: 0 20px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 9999;
}


.logo {
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: white;
}

.nav-links {
  display: flex;
}

.nav-links a {
  color: white;
  text-decoration: none;

  margin-left: 10px;
  padding: 8px 14px;
  border-radius: 30px;

  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.12);

  transition: all 0.3s ease;
}
.nav-links a:hover {
  background: rgba(255, 255, 255, 0.18);
  transform: translateY(-2px);
}
.menu-btn {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {

  .navbar {
    height: 65px;       
    flex-direction: row; 
  }
    .menu-btn {
    display: block;
  }

  .nav-links {
    position: fixed;
    top: 65px;
    left: 0;
    width: 100%;

    flex-direction: column;
    background: rgba(0,0,0,0.97);

    display: flex;       
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

  
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);

    display: flex;        
    text-align: center;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    overflow: hidden;

    transition: all 0.5s ease;
  }

  .nav-links.active {
    display: flex;  
    max-height: 400px;
    opacity: 1;
    transform: translateY(0);  
  }

  .nav-links a {
    padding: 14px;

    
    background: rgba(255, 255, 255, 0.06);
    border-bottom: 1px solid rgba(255,255,255,0.12);

    transition: all 0.3s ease;
  }

  .nav-links a:hover {
    background: rgba(255,255,255,0.18);
  }
}
header.navbar {
  min-height: 65px;
}

.hero {
  margin-top: 20px !important;
}




.hero {
  text-align: center;
  padding: 60px 20px;
  margin-top: 70px;
}

.hero h1 {
  font-size: 3rem;
  letter-spacing: 1px;
}

.hero p {
  margin-top: 10px;
  font-size: 1.2rem;
  opacity: 0.9;
}

.btn-primary {
  margin-top: 15px;
  border-radius: 30px;
  padding: 10px 22px;
  border: none;

  background: #00eaff;
  color: black;

  transition: 0.3s ease;
}

.btn-primary:hover {
  background: white;
  transform: scale(1.05);
}


.card {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 20px;
  border: none;

  color: white;
  transition: all 0.3s ease;

  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.5);
}

.card-body {
  text-align: center;
}

input,
textarea {
  background: rgba(255,255,255,0.1) !important;
  color: white !important;

  border-radius: 12px !important;
  border: none !important;

  padding: 10px !important;
}

input::placeholder,
textarea::placeholder {
  color: #ccc;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 0 2px #00eaff !important;
}


.txt {
  text-align: center;
  margin-top: 40px;
  font-size: 2rem;
  letter-spacing: 1px;
}


footer {
  background: rgba(0,0,0,0.5);
  text-align: center;

  padding: 12px;
  margin-top: 30px;

  font-size: 0.9rem;
}



/* @media (max-width: 768px) {

  .navbar {
    flex-direction: column;
  }

  .nav-links {
    margin-top: 10px;
  }

  .hero h1 {
    font-size: 2.2rem;
  } */

/* } */


#contact {
  width: 100%;
  padding: 40px 20px;
}

.contact-container {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-container input,
.contact-container textarea {
  width: 100%;
  padding: 12px 15px;

  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.3);

  background: rgba(255,255,255,0.08);
  color: white;

  outline: none;
}

.contact-container textarea {
  min-height: 120px;
  resize: vertical;
}


.contact-container button {
  width: 160px;
  align-self: center;

  padding: 10px;
  border-radius: 30px;

  background: #00eaff;
  color: black;
  border: none;

  transition: .3s;
}

.contact-container button:hover {
  background: white;
  transform: scale(1.05);
}

.about-page {
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
  color: white;
}

/*  About */
.about-intro h1 {
  font-size: 2.6rem;
  margin-bottom: 10px;
}

.about-intro p {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 10px;
}


.skills-section {
  margin-top: 40px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  margin-top: 15px;
}

.skill-card {
  background: rgba(255,255,255,0.1);
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
  transition: 0.3s;
}

.skill-card:hover {
  background: cyan;
  color: black;
  transform: translateY(-5px);
}


.education-section {
  margin-top: 40px;
}

.edu-card {
  background: rgba(255,255,255,0.08);
  padding: 15px;
  border-radius: 12px;
  margin-top: 10px;
}

.edu-card h3 {
  margin-bottom: 5px;
}


.interest-section {
  margin-top: 40px;
}

.interest-section ul {
  margin-top: 10px;
  padding-left: 20px;
}

.interest-section li {
  margin-bottom: 6px;
}
.resume-link {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #00eaff;
  color: black;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease;
}
.resume-link:hover {
  background: white;
  transform: scale(1.05);
}


@media (max-width: 768px) {
  .about-intro h1 {
    font-size: 2rem;
  }
}

/* Services */
.services-page {
  max-width: 1100px;
  margin: auto;
  padding: 50px 20px;
  color: white;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 30px;
}


.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.service-card {
  background: rgba(255,255,255,0.08);
  padding: 25px;
  border-radius: 16px;

  transition: .3s;
}

.service-card h2 {
  margin-bottom: 10px;
}

.service-card p {
  line-height: 1.6;
  opacity: .9;
}


.service-card:hover {
  transform: translateY(-6px);
  background: rgba(0,255,255,0.15);
}


@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}

/* Projects */
.projects-page {
  max-width: 1150px;
  margin: auto;
  padding: 50px 20px;
  color: white;
}

.title {
  margin-bottom: 25px;
  font-size: 2.4rem;
}



.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 25px;
}



.project-card {
  background: rgba(255,255,255,0.08);
  padding: 18px;
  border-radius: 16px;
  transition: .3s;
  text-align: center;
}

.project-card:hover {
  transform: translateY(-5px);
}



.project-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}

.short {
  opacity: .9;
  margin-bottom: 10px;
}


.view-btn {
  background: cyan;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}


.dropdown {
  max-height: 0;
  overflow: hidden;
  transition: .4s ease;
  margin-top: 10px;
}

.dropdown.show {
  max-height: 200px;
}

.dropdown p {
  margin-bottom: 10px;
  line-height: 1.6;
}


.demo {
  color: cyan;
  text-decoration: none;
}



@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}

/* Hire me */

.hire-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px 30px;
  background:rgba(0,255,255,0.15);;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: white;
  font-size: 2.2rem;
  letter-spacing: 1px;
}


.form-control {
  width: 100%;
  padding: 12px 15px;
  border: 1.5px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  transition: 0.3s;
  outline: none;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
}


.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3);
}


.mb-2 {
  margin-bottom: 15px;
}


@media (max-width: 768px) {
  .container {
    padding: 30px 15px;
  }
}
.hero, .home, .main {
  margin-top: 70px;
}

